<%= form_with(model: appearance, local: true) do |form| %>
  <% if appearance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appearance.errors.count, "error") %> prohibited this appearance from being saved:</h2>

      <ul>
      <% appearance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.number_field :movie_id, id: :appearance_movie_id %>
  </div>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.number_field :actor_id, id: :appearance_actor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
