<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @appearance.movie_id %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @appearance.actor_id %>
</p>

<%= link_to 'Edit', edit_appearance_path(@appearance) %> |
<%= link_to 'Back', appearances_path %>
